<p class="h1">Welcome to Reborn Plants!</p>

<p>Reborn Plants was founded in June 2020, designed to connect plant lovers in Australia and give pre-loved plants a new home.</p>  
<p>This is for plant owners who want their plant sold to a good home or buyers that have love and time to give.</p>
